/* *** */
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: red;
}

/* 공통클래스 */

.container {
  width: 1000px;
}

.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.d-flex {
  display: flex;
}
.d-block {
  display: none;
}
/* 확인하면서 영역 체크하는  */
.ofh {
  overflow: hidden;
}
/* 요소검사에서 레드를 넣다뺏다 f12-> class에 red만 쓰면 옳게 적용 되었는지 영역바로 확인가능 */
.bgred {
  background-color: red;
}

/* w n00은 시험지 보면서 결정  */
.w200 {
  width: 200px;
}
.w800 {
  width: 800px;
}
.h100 {
  height: 100px;
}
.h200 {
  height: 200px;
}
.h350 {
  height: 350px;
}
.w33 {
  width: 33.3333%;
}

.text-center {
  text-align: center;
}
.jcc {
  justify-content: center;
}
.jcb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}

/* 태그별스타일 */

header {
}
.content {
}
#popup {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  z-index: 9999;
  display: none;
}

/* --------------------------------- */
/* --------------------------------- */
/* --------------------------------- */
/* --------------------------------- */
/* --------------------------------- */

.rel {
  position: relative;
}

.d-flex {
  display: flex;
}

.w200 {
  width: 200px;
}

.w800 {
  width: 800px;
}

/* header */

.d-block {
  display: block;
}

/* content */
.h350 {
  height: 350px;
}

.h200 {
  height: 200px;
}

.h100 {
  height: 100px;
}

.w33 {
  width: 33%;
}
